/*
Theme Name: The7 Child - AOM
Author: Nooijen Solutions
Author URI: https://www.nooijensolutions.nl
Description: The7 Child Theme, edited by Nooijen Solutions for Bennu-Design.be. This child theme makes changes to the The7-theme CSS and PHP-functions, ensuring a fully working website with the desired functions.
Version: 1.0.0
License: This WordPress theme is comprised of two parts: (1) The PHP code and integrated HTML are licensed under the GPL license as is WordPress itself.  You will find a copy of the license text in the same directory as this text file. Or you can read it here: http://wordpress.org/about/gpl/ (2) All other parts of the theme including, but not limited to the CSS code, images, and design are licensed according to the license purchased. Read about licensing details here: http://themeforest.net/licenses/regular_extended
Template: dt-the7
*/

/* MOBIELE MENU */
.mobile-main-nav li.act > a {
  color: #ccc !important;
}

/* GASTENBOEK */
#wpcr_button_1 {
  color: white !important;
  background: #094D72 !important;
}
#wpcr_submit_btn {
  color: white !important;
  background: #094D72 !important;
}
.description {
  background: transparent !important;
  background-color: rgba(0,0,0,0) !important;
}

/* THEME EDITS */
header > div > a > img {
	max-width: 200px !important;
	height: auto !important;
}
div > div > a > img {
	max-width: 200px !important;
	height: auto !important;
}
div.textwidget {
	color: white;
}
+

/* RESPONSIVENESS */
.row {
  margin: 0 -10px;
  margin-bottom: 20px;
}
.row:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
  padding: 10px;
}

  .col-1-4 {
    float: left;
    width: 23%;
  }
  
@media all and ( max-width: 1150px ) {

  .col-1-4{
    width: 45%;
    float: left;
  }
  .col-1-4:nth-child(2n+1) {
    clear: left;
  }

}


@media all and ( max-width: 600px ) {

  .col-1-4{
    width: 100%;
	
  }
  .col-1-4:nth-child(4n+1) {
    clear: none;
  }

}


/* 
	kleuren:
	bg 		#fff7e9
	rand 	#e5c89e
	tekst	#150e00
	link 	#6b5322
	header 	#150e00
*/

/* BOXEN */

	.tekst {
		font-family: 'Playfair Display', serif;
	}

	.mediumbox {
		border-style: solid; 
		border-width: 15px; 
		border-radius: 12px;
		border-color: #e5c89e;
		background-color: #e5c89e
	}
	
	.boxinner {
		border-style: solid;
		border-width: 2px;
		border-color: #150e00;
		background-color: #fff7e9;
		display: block;
	}
	
	.afbeeldingmedium {
		display: block;
		width: 100%;
	}
	
	.profiel {
		text-align: left;
		height: 100px;
		color: #150e00;
		margin-left: 5px;
		overflow: hidden;
		line-height: 24px;
	}
	
	.naam {
		text-align: center;
		font-size: 18pt;
		font-weight: 500;
		color: #150e00;
		padding-top: 0;
		padding-bottom: -10px;
		margin-bottom: -10px;
		clear: both;
	}

	.status {
		text-align: left;
		color: #150e00;
		margin-left: 5px;
		margin-bottom: 5px;
		float: left;
	}
	
	.nummer {
		text-align: center;
		font-weight: 500;
		color: #150e00;
		clear: both;
		margin-top: -15px;
	}
	
	.leesmeer {
		text-align: right;
		color: #150e00;
		margin-right: 5px;
		margin-bottom: 5px;
		float: right;
	}
	
	.status-img {
		margin-left: 10px; 
		padding-right: 5px; 
		padding-top: 5px;
	}
	
	.status-container {
		display: block;
		width: 100%;
	}
	
	
	/* unvisited link */
	a:link {
		text-decoration: none;
		color: #6b5322;
	}			    
	/* visited link */
	a:visited {
		text-decoration: none;
		color: #6b5322;
	}	